<h2>Show me them Cocktails</h2>
<div class="block">
 <% @cocktails.each do |cocktail| %>
<p> <%= link_to cocktail.name, cocktail_path(cocktail)  %></p>
<% end %>
</div>
<div class="block_link">
   <%= link_to "Add a cocktail", new_cocktail_path  %>
</div>

